body {
  /* background-color: #ffffff; */
  background-image: url('https://transparenttextures.com/patterns/crissxcross.png');
}
main {
  min-height: 80vh;
}
.rating span {
  margin: 0.1rem;
}
h3 {
  padding: 1rem 0;
}
